<section>
  <h2 class="detail-title">Crear Servicio</h2>

  <form [formGroup]="form" class="form-card" (ngSubmit)="abrirConfirmacion()">

    <div class="form-row">
      <label>Título</label>
      <input formControlName="titulo" type="text">
    </div>

    <div class="form-row">
      <label>Descripción</label>
      <textarea formControlName="descripcion"></textarea>
    </div>

    <div class="form-row">
      <label>Precio</label>
      <input formControlName="precio" type="number">
    </div>

    <div class="form-row">
      <label>Categoría</label>
      <input formControlName="categoria" type="text">
    </div>

    <button type="submit" class="primary-btn" [disabled]="creando">
      {{ creando ? 'Creando...' : 'Crear servicio' }}
    </button>
  </form>

  <!-- MODAL CONFIRMACIÓN -->
  @if (modalConfirmAbierto) {
    <div class="modal-backdrop">
      <div class="modal">
        <h3 class="modal__title">Confirmar creación</h3>
        <p class="modal__text">¿Deseas crear este servicio?</p>

        <div class="modal__buttons">
          <button
            class="modal__button modal__button--secondary"
            (click)="cerrarConfirmacion()">
            Cancelar
          </button>

          <button
            class="modal__button"
            (click)="confirmarCreacion()">
            Confirmar
          </button>
        </div>
      </div>
    </div>
  }

  <!-- MODAL RESULTADO -->
  @if (modalResultadoAbierto) {
    <div class="modal-backdrop">
      <div class="modal">
        <h3 class="modal__title">
          {{ mensajeOk ? 'Servicio creado' : 'Error' }}
        </h3>

        <p class="modal__text"
           [class.modal__text--ok]="mensajeOk"
           [class.modal__text--error]="error">
          {{ mensajeOk || error }}
        </p>

        <button class="modal__button" (click)="cerrarResultado()">
          Cerrar
        </button>
      </div>
    </div>
  }
</section>
